name: Release

on:
  pull_request: # TODO: REMOVE WHEN DONE TESTING
  workflow_dispatch:
    inputs:
      version-override:
        type: string
        required: false
        description: 'Optionally specify a custom release version (minor version bump e.g.)'
      kn-release: # TODO: REMOVE KN LOGIC AT THE END AS A SEPARATE COMMIT
        type: boolean
        required: false
        default: false
        description: 'Whether the release is a KN variant of repo tools or not'
      sdk-version-bump:
        type: boolean
        required: false
        default: false
        description: 'Whether to create an SDK version bump pull request for this release'
      smithy-kotlin-version-bump:
        type: boolean
        required: false
        default: false
        description: 'Whether to create a Smithy Kotlin version bump pull request for this release'
      crt-kotlin-version-bump:
        type: boolean
        required: false
        default: false
        description: 'Whether to create an CRT Kotlin version bump pull request for this release'

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Resolve new version
        id: resolve-new-version
        run: |
          if [ -n "${{ inputs.version-override }}" ]; then
            echo "NEW_VERSION=${{ inputs.version-override }}" >> "$GITHUB_OUTPUT"
            exit 0
          fi
          
          if [ "${{ inputs.kn-release }}" == "true" ]; then
            CURRENT_VERSION=$(git tag --sort=-creatordate | grep -- '-kn$' | head -n 1)
          else
            CURRENT_VERSION=$(git tag --sort=-creatordate | grep -v -- '-kn$' | head -n 1)
          fi
          
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT_VERSION"
          PATCH_NUMBER=${PATCH%%[^0-9]*}
          PATCH_SUFFIX=${PATCH#$PATCH_NUMBER}
          ((PATCH_NUMBER++))
          echo "NEW_VERSION=$MAJOR.$MINOR.$PATCH_NUMBER$PATCH_SUFFIX" >> "$GITHUB_OUTPUT"

      - name: Create new version tag # TODO: UN-ECHO COMMAND
        env:
          NEW_VERSION: ${{ steps.resolve-new-version.outputs.NEW_VERSION }}
        run: |
          git config user.name aws-sdk-kotlin-ci
          git config user.email "aws-kotlin-sdk-automation@amazon.com" 
          git tag "$NEW_VERSION"
          echo git push origin "$NEW_VERSION"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.PUBLISHING_ROLE_ARN }}
          aws-region: us-west-2

      - name: Run codebuild release job
        id: release-job # TODO: ADD BACK ACTUAL RELEASE
        run: |
          echo "Mocking release"

      - name: Checkout SDK # TODO: ADD BACK IF
        uses: actions/checkout@v4
        with:
          repository: 'aws/aws-sdk-kotlin'
          path: 'aws-sdk-kotlin'
          token: ${{ secrets.CI_USER_PAT }}

      - name: SDK pull request # TODO: ADD BACK IF
        env:
          NEW_VERSION: ${{ steps.resolve-new-version.outputs.NEW_VERSION }}
          GH_TOKEN: ${{ secrets.CI_USER_PAT }}
        run: |
          BRANCH=repo-tools-$NEW_VERSION
          
          cd aws-sdk-kotlin
          git branch $BRANCH
          git checkout $BRANCH
          
          git config user.name aws-sdk-kotlin-ci
          git config user.email "aws-kotlin-sdk-automation@amazon.com"
          
          sed -i "s/aws-kotlin-repo-tools-version = .*/aws-kotlin-repo-tools-version = \"$NEW_VERSION\"/" gradle/libs.versions.toml
          
          git add gradle/libs.versions.toml
          git commit -m "misc: repo tools v$NEW_VERSION"
          
          git push --force --set-upstream origin $BRANCH
          
          gh pr create --title "misc: repo tools v$NEW_VERSION" --body "Bumps repo tools to v$NEW_VERSION"

      - name: Delete failed release tag # TODO: UN-ECHO THE COMMAND
        if: ${{ failure() }}
        run: |
          if [ "${{ steps.release-job.outcome }}" != "success" ]; then
            echo git push --delete origin ${{ steps.resolve-new-version.outputs.NEW_VERSION }}
          fi
